// bower:scss
// endbower
$default-bg:#eeeee;


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.lotto-box{
  background: $default-bg;
  max-width: 800px;
  width: 100%;
  margin:auto;
  position: relative;
  padding: 10px 10px 30px 20px;
  #label{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    margin-left: 6px;
  }
  .input-default{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px gold;
    outline: 0;
    font-size: 24px;
    padding: 10px;
    color: deepskyblue;
    text-align: center;

  }
}

/*#label{
  color: red;
  font-size: large;
}*/

.btn-default{
  display:block;
  marigin:auto;
  width: 100px;
  height: 100px;
  font-size: 12px;
  background-color: palegreen;
  color: goldenrod;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  outline: 0px;
  &:hover{
    opacity: 0.6;
  }
}


#p1{
  background-color: aquamarine;
}

#p2{
  background-color: blanchedalmond;
}
